/* Estilo para la barra de navegación */
/* Estilo para el encabezado */

header {
    margin:  0;
    background-color: #F5F5F5; /* Color de fondo de la barra de navegación */
    padding: 5vh; /* Espaciado interno en el encabezado */
    display: flex; /* Utiliza el modelo de caja flexible para alinear elementos hijos */
    justify-content: space-around;
    align-items: center; /* Centra los elementos verticalmente */
    height: 9vh;
    position: relative; 
    font-family: abril fantasy;
    justify-content: space-between;
}

header p {
    color: #3333CB;
}

.logo_page_under_construction {
    display: flex;
    align-items: center;
}
/* Estilo para la lista de navegación */

nav {
    font-size: medium;
}
nav ul {
    list-style-type: none; /* Quita los puntos de la lista */
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Estilo para los elementos de la lista de navegación */
nav ul li {
    display: inline; /* alinea los elementos de la lista en línea */
    margin-right: 5vw ; /* Espaciado entre elementos de la lista */
}

/* Estilo para los enlaces de navegación */
nav ul li a {
    text-decoration: none; /* Quita el subrayado del enlace */
    color:#3333CB; /* Color del texto del enlace */
}

/* Estilo específico para el logo en la barra de navegación */

.logo_navar {
    width: 10vw;
    height: 10vh;
}


/*Estilo especifico para el cuerpo de page_uner_constrution*/

.PageUnderConstruction {
    margin: 0;
    background-color: #F5F5F5;
}

.page_under_construction {
    text-align: center;
    color: #3333CB;
}

.title_page_under_construction {
    font-size: 3vw;
    margin: 0%;
}

.h2_page_under_construction {
    font-size: 1vw;
}

.page_under_construction img {
    width: 60vw;
    height: 30vh;
}

/*Estilo especifico para el footer*/

footer {
    background: linear-gradient(to top, #3333CB, #F5F5F5);
    /* La propiedad 'to bottom' indica que el degradado va de arriba hacia abajo */
    /* También puedes cambiar 'to bottom' a 'to top' si deseas que el degradado vaya de abajo hacia arriba */
    width: 100%;
    height: 100%;
    font-family: open sans-serif;
    color: white;
    text-decoration: none; /* Quita el subrayado del enlace */
}

.footer_contactpart {
    padding: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer_logo {
    width: 10vw;
    height: 10vh;
    margin: 0 10px; /* Ajusta el margen entre las imágenes según sea necesario */
}

.rrss_footer {
    width: 4vw;
    height: 4vh;
    margin: 0 10px; /* Ajusta el margen entre las imágenes según sea necesario */
}

.footer_socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
}

.correo_de_contacto_page_under_construction {
    text-decoration: none; /* Quita el subrayado del enlace */
    color: white; /* Color del texto del enlace */
}

.telefono_footer {
    text-decoration: none; /* Quita el subrayado del enlace */
    color: white; /* Color del texto del enlace */
}

footer img {
    margin: 3vw;
    width: 10vw;
    height: 10vh;
}

#footer hr {
    border-color: white; /* Color blanco para los hr en el footer */
}

.footer_copyright {
    font-size: small;
    text-align: center;
    color: #F5F5F5;
}

/*medias querys navar*/


@media screen and (max-width: 450px) {

    .logo_navar {
        width: 9vw;
        height: 9vh;

    }
   .name_logo_page_under_construction {
      display: none;
   }
   nav {
    font-size: small;
   }

/*mediasquerys footer*/
    .footer_logo {
       display: none;
    }
 }
