/* Estilos generales del piano */
.conjunto_teclas {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    order: -1;
}

.teclas {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    order: -1;
}

.teclas_negras {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 7vw; /* Ajusta el espacio entre las teclas negras en vw según sea necesario */
    order: -1;
    margin-right: 2vw;
}

.teclas_blancas {
    display: flex;
    gap: 0; /* No se ajusta el espacio entre las teclas blancas en vw */
}

.teclas_negras_primeras img {
    height: auto;
    margin-left: 2vw;
}

.teclas_negras_segundas img {
    height: auto;
    margin-left: 1vw;
}

/* Media Query para pantallas de hasta 500px */
@media screen and (max-width: 650px) {
   
    .teclas {
        position: relative;
        width: 100vw; /* Hace que el conjunto de teclas ocupe el 100% del ancho de la pantalla */
    }

    .teclas_negras {
        gap: 7vh; /* Ajusta el espacio entre las teclas negras en vh según sea necesario */
    }

    .teclas_blancas img {
        width: 10vw; /* Ajusta el ancho de las teclas blancas y negras al 10% del ancho de la pantalla */
        max-width: 10vw; /* Ajusta el ancho máximo en vw según sea necesario */
        height: auto; /* Mantiene la proporción de la altura */
    }

    .teclas_negras_primeras img {
        width: 8vw ;
        height: auto;
        margin-left: 1vw;
    }

    .teclas_negras_segundas img {
        width: 8vw ;
        height: auto;
        margin-left: 1vw;
    }
}