/*estilos generales*/

/* Estilos generales para el body */
body {
  background-color: #f5f5f5;
  margin-top: 12vh; /* Añade un margen superior igual a la altura del header */
}

/* Estilo para el encabezado */
header {
  background-color: #f5f5f5;
  width: 100vw;
  display: flex;
  height: 10vh;
  font-family: "Abril Fatface", cursive;
  transition: all 0.5s ease;
  position: fixed;
  z-index: 2;
  align-items: center;
  justify-content: space-between;
  padding: auto;
  top: 0; /* Fija el encabezado en la parte superior */
}

header p {
  color: #3333cb;
}

.alineacionnavar {
  margin: 0;
  height: 9vh;
  padding: auto;
}

.header {
  display: flex;
  align-items: center;
  background-color: #f5f5f5

}

.logo_page_under_construction {
  display: flex;
  align-items: center;
  margin-right: auto; /* Alinea a la izquierda */
  width: 25vw;
  margin-left: 2vw;
}

nav {
  width: 80vw;
  font-size: medium;
  margin-left: 15vw; /* Alinea a la derecha */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  display: inline;
  margin-right: 5vw;
}

nav ul li a {
  text-decoration: none;
  color: #3333cb;
}

li {
  border-radius: 50%;
  margin: 1vh;
}

li.hovered {
  border: 3px solid #3333cb;
  padding: 1px; /* Ajusta el espacio dentro del borde según sea necesario */
}

.logo_navar {
  width: 5vw;
  height: 9vh;
}

/* Líneas horizontales en el header */
header hr {
  margin: 0;
  visibility: visible;
  border: 0;
  height: 4px;
  background-color: #3333cb; /* Color azul */
}

footer {
  margin: 0;
  background: linear-gradient(to top, #3333cb, #f5f5f5);
  font-family: "Open Sans", sans-serif;
  color: white;
  text-decoration: none;
}

.footer_contactpart {
  padding: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer_logo {
  width: 10vw;
  height: 10vh;
}

.rrss_footer {
  width: 2vw;
  height: 2vh;
  margin: 0 10px;
}

.footer_socialmedia {
  display: flex;
  justify-content: center;
  align-items: center;
}

.correo_de_contacto_page_under_construction,
.telefono_footer {
  text-decoration: none;
  color: white;
}

footer img {
  margin: 3vw;
  width: 3vw;
  height: 5vh;
}

#footer hr {
  border-color: white;
}

.footer_copyright {
  font-size: x-small;
  font-family:"Open Sans", sans-serif;
  text-align: center;
  color: #f5f5f5;
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 800px) {
  .name_logo_page_under_construction {
    display: none;
  }
  .logo_page_under_construction {
    width: 10vw;
    margin-left: 1vw;
    margin-right: 1vw;
  }

  nav {
    width: 90vw;
    padding: 3vw;
  }

  li.hovered {
    border: 3px solid #ffffff;
    padding: 5px; /* Ajusta el espacio dentro del borde según sea necesario */
  }

  nav ul.show-menu {
    display: flex;
    position: absolute;
    right: 5vw;
    height: fit-content;
  }
}

@media screen and (max-width: 650px) {
  .logo_navar {
    width: 9vw;
    height: 5vh;
  }

  nav {
    font-size: x-small;
    font-family: "Abril Fatface", cursive;
  }

  nav ul {
    background-color: #3333cb;
    display: none;
    text-align: right;
    flex-direction: column;
    position: absolute;
    top: 15vh;
    height: 10vh;
  }

  nav ul.show-menu {
    display: flex;
    position: absolute;
    right: 5vw;
    height: fit-content;
  }

  nav ul li {
    display: block;
    margin: 1vw 5vh;
    height: 5vw;
    text-size-adjust: inherit;
  }

  nav ul li a {
    color: white;
  }

  .menu-toggle {
    padding: 1vw;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 5vw;
  }

  .footer_logo {
    width: 9vw;
    height: 5vh;
    margin: 0 auto;
  }

  .footer_contactpart {
    display: grid;
    font-size: small;
    text-align: center;
  }

  footer {
    margin: 0;
    background: linear-gradient(to top, #3333cb, #f5f5f5);
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    color: white;
    text-decoration: none;
  }
}

@media screen and (min-width: 650px) {
  .menu-toggle {
    display: none;
  }
}