/* aqui irá el área de estilos de todo el proyecto*/
nav ul{
    list-style: none;
}
<<<<<<< HEAD:Src/styles.css

.logo_principal {
  width: 625px;
  height: 625px;
  flex-shrink: 0;
  flex: 1;
  /* Toma el espacio restante en el contenedor */
}

.fondo_amarillo_index {
  width: 308px;
  height: 216px;
  flex-shrink: 0;
  border-radius: 50px;
  background: linear-gradient(108deg, rgba(254, 196, 29, 0.00) -29.08%, #FEC41D 41.26%, rgba(254, 196, 29, 0.00) 106.83%);
  color: #3333CB;
  font-family: Open Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  padding: 20px;
  /* Ajusta el relleno según sea necesario */
  order: 1;
  /* Coloca fondo_amarillo_index en la primera posición */
}

.texto_primero_index {
  width: 206px;
  position: absolute;
  top: 10%;
  left: 10%;
}

.texto_segundo_index {
  width: 172px;
  height: 42px;
  flex-shrink: 0;
  position: absolute;
  bottom: 10%;
  right: 10%;
}

.agua {
  width: 308px;
  height: 373px;
  flex-shrink: 0;
  border-radius: 200px 200px 0px 0px;
  order: 2;
  /* Coloca agua en la segunda posición */
}

.guitarristas {
  width: 308px;
  height: 401px;
  flex-shrink: 0;
  border-radius: 200px 0px 0px 0px;
  order: 3;
  /* Coloca guitarristas en la tercera posición */
}

.piano-foto {
  width: 308px;
  height: 193px;
  flex-shrink: 0;
  border-radius: 200px 0px 0px 200px;
  order: 4;
  /* Coloca piano-foto en la cuarta posición */
}

.primer_body_index {
  display: flex;
  flex-direction: row;
  /* Alinea los elementos en fila (horizontalmente) */
  align-items: center;
  /* Centra verticalmente los elementos */
}

.imagenes_body_index {
  order: 1;
  /* Cambia el orden para colocar el logo primero */
  margin-right: 20px;
  /* Espacio entre el logo y el resto de los elementos, ajusta según sea necesario */
}

=======
/*aquí terminan los estilos del navbar index*/


/* Estilo para la barra de navegación */
/* Estilo para el encabezado */

header {
    margin:  0;
    background-color: #F5F5F5; /* Color de fondo de la barra de navegación */
    padding: 5vh; /* Espaciado interno en el encabezado */
    display: flex; /* Utiliza el modelo de caja flexible para alinear elementos hijos */
    justify-content: space-around;
    align-items: center; /* Centra los elementos verticalmente */
    height: 9vh;
    position: relative; 
    font-family: abril fantasy;
    justify-content: space-between;
}

header p {
    color: #3333CB;
}

.logo_page_under_construction {
    display: flex;
    align-items: center;
}
/* Estilo para la lista de navegación */
nav ul {
    list-style-type: none; /* Quita los puntos de la lista */
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Estilo para los elementos de la lista de navegación */
nav ul li {
    display: inline; /* alinea los elementos de la lista en línea */
    margin-right: 5vw ; /* Espaciado entre elementos de la lista */
}

/* Estilo para los enlaces de navegación */
nav ul li a {
    text-decoration: none; /* Quita el subrayado del enlace */
    color:#3333CB; /* Color del texto del enlace */
}

/* Estilo específico para el logo en la barra de navegación */

.logo_navar {
    width: 10vw;
    height: 17vh;
}


/*Estilo especifico para el cuerpo de page_uner_constrution*/

.PageUnderConstruction {
    margin: 0;
    background-color: #F5F5F5;
}

.page_under_construction {
    text-align: center;
    color: #3333CB;
}

.title_page_under_construction {
    font-size: 3vw;
    margin: 0%;
}

.h2_page_under_construction {
    font-size: 1vw;
}

.page_under_construction img {
    width: 60vw;
    height: 30vh;
}

/*Estilo especifico para el footer*/

footer {
    margin: 0%;
    margin-top: 5vw;
    background: linear-gradient(to top, #3333CB, #F5F5F5);
    /* La propiedad 'to bottom' indica que el degradado va de arriba hacia abajo */
    /* También puedes cambiar 'to bottom' a 'to top' si deseas que el degradado vaya de abajo hacia arriba */
    width: 100%;
    height: 100%;
    font-family: open sans-serif;
    color: white;
    text-decoration: none; /* Quita el subrayado del enlace */
}

.footer_contactpart {
    padding: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer_logo {
    width: 10vw;
    height: 10vh;
    margin: 0 10px; /* Ajusta el margen entre las imágenes según sea necesario */
}

.footer_socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
}

.correo_de_contacto_page_under_construction {
    text-decoration: none; /* Quita el subrayado del enlace */
    color: white; /* Color del texto del enlace */
}

.telefono_footer {
    text-decoration: none; /* Quita el subrayado del enlace */
    color: white; /* Color del texto del enlace */
}

footer img {
    margin: 3vw;
    width: 10vw;
    height: 10vh;
}

#footer hr {
    border-color: white; /* Color blanco para los hr en el footer */
}

.footer_copyright {
    font-size: small;
    text-align: center;
    color: #F5F5F5;
}


>>>>>>> 392ee853d1d63fd56e45969718fb8afe979da3c7:Src/css/styles.css
/*AQUI EMPIEZAN LOS ESTILOS DE LA PAGINA DE CONTACTO*/

.container {
  width: 100%;
  max-width: 400px;
  margin-bottom: -5%; 
  margin: top -5px;
  margin-left: 450px;
  padding: 45px;
  background-color: #3333CB;
  color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 50px;
}

h2 {
  margin-top: 0;
}

label {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 6px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.checkbox-field {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.checkbox-field input {
  margin-right: 8px;
}

.checkbox-field label {
  margin-bottom: 0;
  color: #fff; /* Color blanco para el texto del enlace */
}

.checkbox-field a {
  color: #fff; /* Color blanco para el enlace */
  text-decoration: underline; /* Subrayado para el enlace */
}


button {
  background-color: #FEC41D;
  color: #3333CB;
  font-family: Abril Fatface;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #27ae60;
}

/* El recuadro de validación de contacto se coloreará en rojo cuando se falle al rellenarlo */
.form-control.falla input {
  border: 0.1px solid;
  border-color: #fe5f55
}

/* empiezan los estilos del piano*/
.conjunto_teclas{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.teclas {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}
.teclas_negras {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 147px; /* Ajusta el espacio entre las teclas negras según sea necesario */
}
.teclas_blancas {
  display: flex;
  gap: 0px; /* Ajusta el espacio entre las teclas blancas según sea necesario */
}

/*empiezan reglas de media queries para la página de contacto (se recomienda poner al final de la hoja de estilos/*
/* Estilos para pantallas más pequeñas (hasta 600px de ancho) */
.container {
  width: 80%;
  margin: 0 auto;
}

/* Estilos para pantallas más pequeñas (móviles) */
@media only screen and (max-width: 600px) {
  .container {
     width: 100%;
  }
}



