/* aqui irá el área de estilos de todo el proyecto*/
/*empiezan los estilos del index*/
.body {
    background-color: #F5F5F5;
}
.logo_principal {
    width: 625px;
    height: 625px;
    flex-shrink: 0;
    flex: 1; /* Toma el espacio restante en el contenedor */
}
.fondo_amarillo_index {
    width: 308px;
    height: 216px;
    flex-shrink: 0;
    border-radius: 50px;
    background: linear-gradient(108deg, rgba(254, 196, 29, 0.00) -29.08%, #FEC41D 41.26%, rgba(254, 196, 29, 0.00) 106.83%);
    color: #3333CB;
    font-family: Open Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    padding: 20px; /* Ajusta el relleno según sea necesario */
    order: 1; /* Coloca fondo_amarillo_index en la primera posición */
}
.texto_primero_index {
    width: 206px;
    position: absolute;
    top: 10%;
    left: 10%;
}
.texto_segundo_index {
    width: 172px;
    height: 42px;
    flex-shrink: 0;
    position: absolute;
    bottom: 10%;
    right: 10%;
}
.agua {
    width: 308px;
    height: 373px;
    flex-shrink: 0;
    border-radius: 200px 200px 0px 0px;
    order: 2; /* Coloca agua en la segunda posición */
}
.guitarristas {
    width: 308px;
    height: 401px;
    flex-shrink: 0;
    border-radius: 200px 0px 0px 0px;
    order: 3; /* Coloca guitarristas en la tercera posición */
}
.piano-foto {
    width: 308px;
    height: 193px;
    flex-shrink: 0;
    border-radius: 200px 0px 0px 200px;
    order: 4; /* Coloca piano-foto en la cuarta posición */
}
.primer_body_index {
    display: flex;
  flex-direction: row; /* Alinea los elementos en fila (horizontalmente) */
  align-items: center; /* Centra verticalmente los elementos */
}
.imagenes_body_index {
    order: 1; /* Cambia el orden para colocar el logo primero */
    margin-right: 20px; /* Espacio entre el logo y el resto de los elementos, ajusta según sea necesario */
}


/*aquí terminan los estilos del navbar index*/

/* Estilo para la barra de navegación */
/* Estilo para el encabezado */

header {
    margin:  0%;
    background-color: #F5F5F5; /* Color de fondo de la barra de navegación */
    padding: 5vh; /* Espaciado interno en el encabezado */
    display: flex; /* Utiliza el modelo de caja flexible para alinear elementos hijos */
    justify-content: space-between; /* Espacio uniformemente distribuido entre elementos hijos */
    align-items: center; /* Centra los elementos verticalmente */
    height: 9vh; /* Altura fija para todos los elementos del encabezado */
    position: relative; /* Establece la posición relativa para poder posicionar las líneas */
}

/* Estilo para la lista de navegación */
nav ul {
    list-style-type: none; /* Quita los puntos de la lista */
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Estilo para los elementos de la lista de navegación */
nav ul li {
    display: inline; /* Muestra los elementos de la lista en línea */
    margin-right: 5vw ; /* Espaciado entre elementos de la lista */
}

/* Estilo para los enlaces de navegación */
nav ul li a {
    text-decoration: none; /* Quita el subrayado del enlace */
    color:#3333CB; /* Color del texto del enlace */
}

.logo_navar {
    width: 10vw;
    height: 17vh;
}
/* Estilo específico para el logo en la barra de navegación */

/*Estilo especifico para el cuerpo de page_uner_constrution*/

.PageUnderConstruction {
    margin: 0%;
    background-color: #F5F5F5;
    margin: 0;
}

.page_under_construction {
    text-align: center;
    color: #3333CB;
}

.title_page_under_construction {
    font-size: 3vw;
    margin: 0%;
}

.h2_page_under_construction {
    font-size: 1vw;
}

.page_under_construction img {
    width: 60vw;
    height: 30vh;
}

footer {
    margin: 0%;
    background: linear-gradient(to top, #3333CB, #F5F5F5);
    /* La propiedad 'to bottom' indica que el degradado va de arriba hacia abajo */
    /* Puedes ajustar los colores (#3498db y #2c3e50) según tus preferencias */
    /* También puedes cambiar 'to bottom' a 'to top' si deseas que el degradado vaya de abajo hacia arriba */
    /* Otra opción es usar 'to right', 'to left', 'to bottom right', etc., según la dirección deseada */
    height: 30vh; /* Ajusta la altura según tus necesidades */
    width: 100%; /* O ajusta el ancho según tus necesidades */
}
